<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include navigation.html %}

    <section>
      <div class="content">
        <div class="inner-content">
          <h1>{{page.title}}</h1>
          <div class="doc-header">
            {% if page.links %}
            <div class="links">
              {% for link in page.links %}
              <a target="_blank" href="{{ link.url }}">{{ link.label }}</a>
              {% endfor %}
            </div>
            {% endif %}
            <!-- {% if page.help %}
            <div class="help">
              <a href="https://emfjson.slack.com">Slack</a>
              <a href="https://emfjson.slack.com">Google Groups</a>
            </div>
            {% endif %} -->
          </div>
          <div>
            {{ content }}
          </div>
        </div>
        {% if page.navigation %}
        <div class="nav-docs">
          <div>
            <h3>Contents</h3>
            <ul>
            {% for item in page.navigation %}
                <li>
                  <a href="#{{ item | downcase | replace:' ', '-' }}">{{ item }}</a>
                </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </section>

</body>
</html>
